<h1>ユーザー情報編集</h1>
<%= form_for :user, url: { controller: 'users', action: 'update' } do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %><br/>
  <%= f.label :email, "Eメール" %>
  <%= f.text_field :email%><br/>
  <%= f.label :password, "パスワード" %>
  <%= f.text_field :password %><br/>
  <%= f.submit "登録" %>
<% end %>