<div classs= "row">
  <div classs= "page-header">
    <h3>スケジュール管理</h3>
  </div>
</div>

<div classs= "row">
  <table class="table">
    <tbody>
      <tr>
        <th class= "active">スケジュール名</th>
        <td>
          <%= @reservation.title %>
        </td>
      </tr>
      <tr>
        <th class= "active">スケジュール内容</th>
        <td>
          <%= @reservation.body %>
        </td>
      </tr>
      <tr>
        <th class = "active">開始日時</th>
        <td>
          <%= @reservation.start_date.to_s(:datetime_jp) %>
        </td>
      </tr>
      <tr>
        <th class = "active">終了日時</th>
        <td>
          <%= @reservation.end_date.to_s(:datetime_jp) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    
    <%= link_to "予約カレンダーへ", my_calendar_path %>