<h1>投稿編集</h1>
<%= form_for @post, url: { controller: 'posts', action: 'update' } do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %><br/>
  <%= f.label :body, "内容" %>
  <%= f.text_field :body %><br/>
  <%= f.submit "編集" %>
<% end %>